<div class="panel panel-info">
    <div class="panel-heading">
        Product List
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4"><input type="text"></div>
        </div>
        <div class="row">
            <div class="col-md-6">Filter</div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th><button class="btn btn-info">Show</button></th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><img src="../assets/img/2.png" alt="" style="width:100px;"></th>
                        <th>asdasd</th>
                        <th>asd</th>
                        <th>asdasd</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>